.form-main-body {
    background-color: #3392B0;
    /* The image used */
    background-image: url(../images/Background\ Formulir.png);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent-background{
    background-color: rgb(255, 255, 255, 0.9);
}

.middle-content {
    margin-top: 20vh;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 15px;
}

.middle-content-form {
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 15px;
}

.small-info-red {
    font-size: 12px;
    color: tomato;
}

.small-info-black {
    font-size: 12px;
    color: black;
}

.medium-info-red {
    font-size: 16px;
    color: tomato;
}

.medium-info-black {
    font-size: 16px;
    color: black;
}

.menu-paket {
    border: solid 1px gray;
    border-radius: 15px;
}

.menu-paket-body {
    height: 100px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.menu-paket-footer {
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* Menu Paket Caps */

#menu-paket-cap-basic {
    width: 100%;
    background-color: gray;
    color: black;
    border: solid 0.5px gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#menu-paket-cap-bronze {
    width: 100%;
    background-color: #CD7F32;
    color: black;
    border: solid 0.5px gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#menu-paket-cap-silver {
    width: 100%;
    background-color: #C0C0C0;
    color: black;
    border: solid 0.5px gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#menu-paket-cap-gold {
    width: 100%;
    background-color: #FFD700;
    color: black;
    border: solid 0.5px gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#menu-paket-cap-platinum {
    width: 100%;
    background-color: #E5E4E2;
    color: black;
    border: solid 0.5px gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#basicColor {
    background-color: gray;
    color: gray;
}

#bronzeColor {
    background-color: #CD7F32;
    color: #CD7F32;
}

#silverColor {
    background-color: #C0C0C0;
    color: black;
}

#goldColor {
    background-color: #FFD700;
    color: black;
}

#PlatinumColor {
    background-color: #E5E4E2;
    color: black;
}


/* End of Menu Paket Caps */