/* Home */

.home-navbar{
    background-color: #424242;
}

.footer{
    background-color: #424242;
    color:white;
}

a.nav-link{
    color: white;
    font-size: 24px;
}

a.nav-link:hover{
    background-color:gray;
}

a.nav-link.active{
    background-color:#660000;
}

/* Statistic */

.logout-id-btn{
    background-color: #a73636;
    color :white;
}

/* Text Size */

.txt-size-24{
    font-size: 24px;
}

.txt-size-20{
    font-size: 20px;
}

/* Cards for Stats */
.stats-card-top{
    
}

.green{
    color: green;
}

.yellow{
    color:yellow;
}

.red{
    color:red;
}