/* Home */

.home-navbar {
    background-color: #3e87b5;
}

.footer {
    background-color: #0b669f;
    color: white;
}

a.nav-link {
    color: white;
    font-size: 24px;
}

a.nav-link:hover {
    background-color: rgb(70, 148, 115);
}

a.nav-link.active {
    background-color: #75d175;
}

.sensing-value{
    color: grey;
    font-size: 40px;
}